# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
content/shots/03_intro.jpeg
content/shots/04_intro.jpeg
content/shots/05_intro.jpeg
content/shots/05_sign_in_sign_up.jpeg
content/shots/07_sign-in.jpeg
content/shots/08_verification_code.jpeg
content/shots/09_verification_successful.jpeg
content/shots/10_sign_up.jpeg
content/shots/11_sign_up_detail.jpeg
content/shots/12_take_picture.jpeg
content/shots/14_find_your_friend.jpeg
content/shots/15_chat.jpeg
content/shots/17_contacts.jpeg
content/shots/19_chating.jpeg
content/shots/20_calls_history.jpeg
content/shots/21_camera.jpeg
content/shots/22_profile.jpeg
content/shots/23_edit_profile.jpeg
