<video #localVideo autoplay playsinline></video>

<mat-accordion class="headers-align">
  <mat-expansion-panel hideToggle [expanded]="(call$ | async) === false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ code }}
      </mat-panel-title>

      <mat-panel-description>
        {{ (call$ | async) ? 'Conectado' : 'Conectando...' }}
        <mat-icon class="primary"> room_preferences </mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="flex center-center">
      <speek-audio-button [track]="localAudioTrack"></speek-audio-button>
      <speek-video-button [track]="localVideoTrack"></speek-video-button>

      <speek-call-button
        [active]="call$ | async"
        (clicked)="play()"
      ></speek-call-button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
