<mat-drawer-container class="speek-container" autosize>
  <mat-drawer #drawer class="speek-sidenav" position="end" mode="over">
    <mat-selection-list [multiple]="false" [formControl]="contactControl">
      <mat-list-option *ngFor="let contact of contacts$ | async" [value]="contact">
        <h3 mat-line>
          {{ contact.first_name }}
        </h3>
        <p mat-line>{{ contact.email }}</p>
        <small class="mat-hint">{{ contact.modified | date: 'short' }}</small>
      </mat-list-option>
    </mat-selection-list>
    <mat-divider></mat-divider>
    <div class="flex row center-center pad-12">
      <mat-form-field appearance="outline">
        <mat-label>Buscar contato</mat-label>
        <input matInput [formControl]="searchControl" />
        <mat-icon matSuffix>
          <ng-container *ngIf="contacts$ | async as contacts">
            <ng-container [ngPlural]="contacts.length">
              <ng-template ngPluralCase="=0"
                >sentiment_very_dissatisfied</ng-template
              >
              <ng-template ngPluralCase="=1"
                >sentiment_very_satisfied</ng-template
              >
              <ng-template ngPluralCase="=2"
                >sentiment_satisfied_alt</ng-template
              >
              <ng-template ngPluralCase="other">search</ng-template>
            </ng-container>
          </ng-container>
        </mat-icon>
        <mat-hint>Busque por nome, sobrenome ou email</mat-hint>
      </mat-form-field>
    </div>
  </mat-drawer>

  <mat-drawer-content class="speek-sidenav-content">
    <!-- <h1>Welcome to {{ title }}!</h1> -->
    <speek-header></speek-header>

    <main role="main">
      <pre>{{ contactControl.value | json }}</pre>
      <router-outlet></router-outlet>
    </main>

    <mat-toolbar color="primary">
      <span></span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon class="primary"> menu_vert </mat-icon>
      </button>
    </mat-toolbar>
  </mat-drawer-content>
</mat-drawer-container>
