<mat-drawer-container class="speek-container" autosize>
  <mat-drawer #drawer class="speek-sidenav" position="end" mode="over">
    <speek-contacts
      [control]="contactControl"
      [contacts]="contacts$ | async"
    ></speek-contacts>
    <mat-divider></mat-divider>
    <div class="flex row center-center pad-12">
      <speek-search [icon]="icon" [control]="searchControl"></speek-search>
    </div>
  </mat-drawer>

  <mat-drawer-content class="speek-sidenav-content">
    <speek-topbar
      (afterExpand)="networnState()"
      [upload]="network.upload$ | async"
      [download]="network.download$ | async"
      [connection]="network.connection$ | async"
      [downLoader]="network.upLoader$ | async"
      [downLoader]="network.downLoader$ | async"
    ></speek-topbar>
    <!-- <speek-header></speek-header> -->

    <main role="main">
      <router-outlet></router-outlet>
    </main>
  </mat-drawer-content>
</mat-drawer-container>
