<!-- <h1>Welcome to {{ title }}!</h1> -->


<em>Connection</em>
<pre>{{ connection$ | async | json }}</pre>

<em>Download</em>
<pre>{{ download$ | async | json }}</pre>

<em>Upload</em>
<pre>{{ upload$ | async | json }}</pre>
<main>
  <video #localVideo autoplay playsinline></video>
</main>
<nav>
  <speek-audio-button [track]="localAudioTrack"></speek-audio-button>
  <speek-video-button [track]="localVideoTrack"></speek-video-button>

  <speek-call-button
    [active]="call$ | async"
    (clicked)="play()"
  ></speek-call-button>
</nav>
